#P1{
    background-color: aqua;
    margin-top: 5%;
}

#P2{
    background-color: antiquewhite;
    padding-left: 10%;
}

#P3{
background-color: aquamarine;
    border-radius: 10px;
    border-style: 15px;
}